@font-face{
    font-family: 'Poppins', sans-serif;
    src:url(../fonts/Poppins-Thin.ttf);
    src:url(../fonts/Poppins-ExtraLight.ttf);
    src:url(../fonts/Poppins-Light.ttf);
    src:url(../fonts/Poppins-Regular.ttf);
  
    src:url(../fonts/Poppins-SemiBold.ttf);
    src:url(../fonts/Poppins-Bold.ttf);
    src:url(../fonts/Poppins-ExtraBold.ttf);

   
}
@font-face {
    font-family:pop med;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family:SemiBoldd ;
    src:url(../fonts/Poppins-SemiBold.ttf);
}


@font-face{
    font-family: 'Raleway', sans-serif;

    src:url(../fonts/Raleway-Thin.ttf);
    src:url(../fonts/Raleway-ExtraLight.ttf);
    src:url(../fonts/Raleway-Light.ttf);
    src:url(../fonts/Raleway-Regular.ttf);
    src:url(../fonts/Raleway-Medium.ttf);
    src:url(../fonts/Raleway-SemiBold.ttf);
    src:url(../fonts/Raleway-SemiBold.ttf);
    src:url(../fonts/Raleway-ExtraBold.ttf);

   
}
@font-face {
    font-family:SemiBold ;
    src:url(../fonts/Raleway-SemiBold.ttf);
}



